- if @checkout.errors[:billing_first_name].empty?
  .form-group
    = f.label :first_name, class: 'control-label input-label'
    = f.text_field :billing_first_name, id: 'firstName', class: 'form-control', value: checkout_billing_first_name, placeholder: 'First Name'
- else
  .form-group.has-error
    = f.label :first_name, class: 'control-label input-label'
    = f.text_field :billing_first_name, id: 'firstName', class: 'form-control', value: checkout_billing_first_name, placeholder: 'First Name'
    %span.help-block= error_message_for(@checkout, :billing_first_name)

- if @checkout.errors[:billing_last_name].empty?
  .form-group
    = f.label :last_name, class: 'control-label input-label'
    = f.text_field :billing_last_name, id: 'lastName', class: 'form-control', value: checkout_billing_last_name, placeholder: 'Last Name'
- else
  .form-group.has-error
    = f.label :last_name, class: 'control-label input-label'
    = f.text_field :billing_last_name, id: 'lastName', class: 'form-control', value: checkout_billing_last_name, placeholder: 'Last Name'
    %span.help-block= error_message_for(@checkout, :billing_last_name)

- if @checkout.errors[:billing_address].empty?
  .form-group
    = f.label :address, class: 'control-label input-label'
    = f.text_field :billing_address, id: 'address', class: 'form-control', value: checkout_billing_address, placeholder: 'Address'
- else
  .form-group.has-error
    = f.label :address, class: 'control-label input-label'
    = f.text_field :billing_address, id: 'address', class: 'form-control', value: checkout_billing_address, placeholder: 'Address'
    %span.help-block= error_message_for(@checkout, :billing_address)

- if @checkout.errors[:billing_city].empty?
  .form-group
    = f.label :city, class: 'control-label input-label'
    = f.text_field :billing_city, id: 'city', class: 'form-control', value: checkout_billing_city, placeholder: 'City'
- else
  .form-group.has-error
    = f.label :city, class: 'control-label input-label'
    = f.text_field :billing_city, id: 'city', class: 'form-control', value: checkout_billing_city, placeholder: 'City'
    %span.help-block= error_message_for(@checkout, :billing_city)

- if @checkout.errors[:billing_zip].empty?
  .form-group
  = f.label :zip, class: 'control-label input-label'
  = f.text_field :billing_zip, id: 'zip', class: 'form-control', value: checkout_billing_zip, placeholder: 'Zip'
- else
  .form-group.has-error
    = f.label :zip, class: 'control-label input-label'
    = f.text_field :billing_zip, id: 'zip', class: 'form-control', value: checkout_billing_zip, placeholder: 'Zip'
    %span.help-block= error_message_for(@checkout, :billing_zip)

.form-group
  = f.label :country, class: 'control-label input-label'
  = f.country_select(:billing_country, {selected: checkout_billing_country}, {id: 'country', class: 'form-control', placeholder: 'Select a country'})

- if @checkout.errors[:billing_phone].empty?
  .form-group
  = f.label :phone, class: 'control-label input-label'
  = f.telephone_field :billing_phone, pattern: phone_pattern, id: 'phone', class: 'form-control', value: checkout_billing_phone, placeholder: 'Example +355 66 123 4567'
- else
  .form-group.has-error
    = f.label :phone, class: 'control-label input-label'
    = f.telephone_field :billing_phone, pattern: phone_pattern, id: 'phone', class: 'form-control', value: checkout_billing_phone, placeholder: 'Example +355 66 123 4567'
    %span.help-block= error_message_for(@checkout, :billing_phone)