%table.table.table-hover
  %thead
    %tr
      %th
        %span.in-grey-600 Book
      %th.col-method
      %th
        %span.in-grey-600 Price
      %th
        %span.in-grey-600 Quantity
      %th
        %span.in-grey-600 Total
  %tbody
    - @order.order_items.each do |order_item|
      %tr
        %td
          .general-img-wrap-table
            %img.cart-img-shadow.pull-left{src: order_item.book.cover_url, alt: 'Soem cool Book'}
        %td
          %p.title= order_item.book.title
          %p.in-grey-600.fw-300= product_first_sentence(order_item.book)
        %td
          %span.font-16.in-gold-500= number_to_euro(order_item.book.price)
        %td
          %span.ml-30= order_item.quantity
        %td
          %span.font-16.in-gold-500= order_item.subtotal_price