= form_for(@cart, url: cart_path, method: :post) do |f|
  .col-sm-4
    .input-group.general-input-group
      = f.label :discount, 'Enter Your Coupon Code', class: 'input-label'
      = f.text_field :discount, value: '', placeholder: 'Enter Your Coupon Code ', class: 'form-control mb-30'
      %div
        = f.submit('Apply Coupon', class: 'btn btn-primary mr-5 mb-15 visible-xs-inline-block')
        = f.submit('Apply Coupon', class: 'btn btn-primary mb-15 res-block')